*.class
*.log

# IDEs
.vscode
.idea

# Metals
.metals
.bloop
target/
project/project
project/metals.sbt

# IntelliJ
.bsp

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
